.App {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* רקע אופציונלי */
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  width: 100%; /* רוחב מלא */
  max-width: 600px; /* מקסימום גודל שלא ייראה ענק מדי */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  animation: floatUp 2s ease-out forwards;
}

@keyframes floatUp {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}
